<ion-view view-title="Moderazione">
    <action-bar title="'Moderazione'"></action-bar>
    <ion-content class="has-header">


        <ion-spinner class="spinner" id="commentsSpinner"></ion-spinner>
        <div class="card item-text-wrap" id="commentList" style="margin:0%">
            <div class="item" ng-repeat="Comment in Comments">
                <p>
                    <a style="color:blue">{{Comment.author}}</a>
                    <span>{{Comment.text}}</span>
                    <span class="ion-ios-trash deleteBtn" ng-click="showConfirm(Comment.id)"></span>
                </p>
                <h4>
                    <a class="subdued">{{Comment.date}}</a>
                </h4>
            </div>
        </div>

    </ion-content>

</ion-view>