.spinner {
  position: absolute;
  margin-top: 20%;
  right: 50%;
  transform: translateX(50%);
}

.author {
  color: blue !important;
}

.date {
  text-align: right;
}

.fileList {
  margin-bottom: 3%;

  li {
    margin: 0 0 3% 0;

    span {
      font-size: 18px;
      display: inline;
    }
    p {
      font-size: 13px;
      color: #387EF5;
      display: inline;
    }
    a {
      font-size: 13px;
    }
  }

}

.dataTag {
  font-size: 13px;
}

.actionIcon {
  margin: 0.5%;
  text-align: center;
  font-size: 15px;
  color: darkslategrey;
}

