<ion-view view-title="Moderazione">
    <ion-nav-bar class="bar bar-header bar-positive" ng-controller="tabsCtrl">
        <ion-nav-buttons side="left">
            <button class="button backBtn" id="arrowBtn" ng-click="backBtnClick()">
                <p class="ion-android-arrow-back"></p>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button backBtn" ng-click="Disconnect()">
                <p class="ion-log-out"></p>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-footer="true" has-tabs="true">


        <ion-spinner class="spinner" id="commentsSpinner"></ion-spinner>
        <div class="card item-text-wrap" id="commentList" style="margin:0%">
            <div class="item" ng-repeat="Comment in Comments">
                <p>
                    <a style="color:blue">{{Comment.author}}</a>
                    <span>{{Comment.text}}</span>
                    <span class="ion-ios-trash deleteBtn" ng-click="showConfirm(Comment.id)"></span>
                </p>
                <h4>
                    <a class="subdued">{{Comment.date}}</a>
                </h4>
            </div>
        </div>

    </ion-content>

</ion-view>