# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

 Windows Installer
.cab
.msi
.msm
.msp

# Windows shortcuts
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules/
.vscode/
.idea/
platforms/
plugins/
www/dist/
credentials.js
firebase-messaging-sw.js