<ion-view view-title="Crea Articolo" ng-init="checkFoto()">
    <action-bar title="'Crea Articolo'"></action-bar>
    <ion-content class="padding has-header">

        <form ng-init="setFormScope(this)">
            <div class="col col-50 col-offset-25">
                <label class="item item-input">
                    <input type="text" placeholder="Titolo Articolo" ng-model="title">
                </label>
            </div>

            <label class="item item-input">
                <textarea placeholder="Descrizione Articolo" ng-model="text"></textarea>
            </label>
        </form>

        <div id="upload-pdf">
            <button>
                <span class="icon ion-paperclip"></span>
                <a href="javascript: void(0)">Carica PDF</a>
            </button>
            <input type="file" id="upload_input" name="upload"
                   onchange="angular.element(this).scope().loadFile(this)">/>
        </div>

        <span class="fileName">{{pdf.name}}</span>


        <div>
            <p href="#" id="cameraBtn" class="button button-icon icon ion-camera" ng-click="GetPic()">
                Carica
            </p>
        </div>
        <div id="img-preview">
            <h4>Immagine di copertina</h4>
            <img class="responsive" id="img_1"></img>
        </div>


        <div class="row" id="btnrow">
            <div class="col col-33 col-offset-33">
                <button id="sendbtn" class="button  button-positive" ng-click="UploadArticle(title,text,pdf)">
                    Invia
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>
