$dark: black;
$lightDark: #24292F;

.bar-positive .button {
  border-color: transparent;
}

.bar-positive {
  background-color: $dark !important;
}

.button {
  background-color: $lightDark !important;
}

.navList {
  a.item-content {
    background-color: $lightDark;
    color: white;
  }
}

.menu-left, .bar {
  background-color: $lightDark !important;
  color: white;
}

.bar h1{
  color:white!important;
}