body{

  text-align: center;
}

.item{
margin-top: 5%;
}

.row{
  text-align: center;
}

#inputrow{
   margin-top: 2%;
}

#btnrow{
  margin-top: 5%;
}


.responsive{

  width: 50%;
  height: auto;
  text-align: center;
  margin-top: 25%;
}
