<ion-tabs class="tabs-striped tabs-background-positive">

    <!-- Admin Zone Tab -->
    <ion-tab title="Amministratori" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/admin"
             class="{{checkadmin()}}">
        <ion-nav-view name="tab-admin"></ion-nav-view>
    </ion-tab>

    <!-- Giornalino Tab -->
    <ion-tab title="Attualità" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/giornalino">
        <ion-nav-view name="tab-giornalino"></ion-nav-view>
    </ion-tab>

    <!-- Orientamento Tab -->
    <ion-tab title="Orientamento" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate"
             href="#/tab/orientamento">
        <ion-nav-view name="tab-orientamento"></ion-nav-view>
    </ion-tab>

    <!-- Forum Tab -->
    <ion-tab title="Avvisi" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/forum">
        <ion-nav-view name="tabs-forum"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Link" icon-off="ion-link" icon-on="ion-link" href="#/tab/link">
        <ion-nav-view name="tabs-link"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Invia Avviso" href="#/tab/send_message" class="ng-hide">
        <ion-nav-view name="tab-send_message"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Invia Articolo" href="#/tab/add_article" class="ng-hide">
        <ion-nav-view name="tab-add_article"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Leggi Articolo" href="#/tab/article" class="ng-hide">
        <ion-nav-view name="tab-article"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Commenti" href="#/tab/comments" class="ng-hide">
        <ion-nav-view name="tab-comments"></ion-nav-view>
    </ion-tab>


</ion-tabs>

<ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="right">
        <button class="button backBtn" ng-click="Disconnect()">
            <p class="ion-log-out"></p>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
