<ion-view view-title="Link ">
    <ion-content class="hasHeader" on-swipe-right="goBack()" on-swipe-left="goForward()">

        <div class="row" style="text-align:center" >
             <div class="col "  >
                 <div class="bar bar-header bar-calm">
                   <h1 class="title">Link Utili</h1>
                 </div>
            </div>
          </div>

     <ul class="list"style="margin-top:10%" >
           <div class="item item-icon-left"  ng-repeat="Link in Links"  ng-click="OpenLink(Link.url)">
              <i ng-class="Link.icon "></i>
                 {{Link.name}}
            </div>
      </ul>

    </ion-content>
</ion-view>
