<ion-view view-title="L'Alveare">
    <ion-content class="padding" on-swipe-right="goBack()" on-swipe-left="goForward()">


        <div class="row" style="text-align:center">
            <div class="col ">
                <div class="bar bar-header bar-calm">
                    <h1 class="title">Sezione Amministratori</h1>
                </div>
            </div>
        </div>

        <ul class="list" style="margin-top:15%;text-align:center">
            <div class="item" style="margin-top:5%" ng-repeat="link in Links">
                <a ng-click="link.direct()">
                  {{link.name}}
              </a>
            </div>
        </ul>

    </ion-content>
</ion-view>
