<ion-view view-title="L'Alveare" >
    <ion-content class="padding"  on-swipe-right="goBack()" on-swipe-left="goForward()">

            <header style="padding-bottom:10%">
                <div class="bar bar-header bar-calm">
                    <h1 class="title">{{title}}</h1>
                </div>
            </header>

            <br>
            <label class="item item-input" >
              <textarea placeholder="Messaggio" id="messagetxt"></textarea>
            </label>

            <div class="row" id="btnrow" style="text-align:center">
             <div class="col col-33 col-offset-33" >
               <button id="sendbtn" class="button  button-energized" ng-click="test()">Invia</button>
             </div>
            </div>



    </ion-content>
</ion-view>
