<ion-view view-title="Leggi Articolo" on-swipe-right="goBackAdmin()" on-swipe-left="goForward()">
	<ion-content ng-click="data()">


		<div class="row" >
			<div class="col ">
				<h5 style="text-align:right">7 Dicembre 2015</h5>
				<h1 class="title" style="margin-left:5%" style="margin-right:5%">{{title}}</h1>
			</div>
		</div>

        

		<div class="row" style="text-align:center">
			<div class="col ">
				<img src={{img}} class="responsive"></img>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<h4 style="margin-left:5%" style="margin-right:5%">
				{{text}}
					
				</h4>
			</div>
		</div>
		<br>

	</ion-content>
</ion-view>