<ion-view view-title="Forum">
    <ion-content  on-swipe-right="goBack()" on-swipe-left="goForward()">
      <!--  <div class="card">
         <div class="item item-text-wrap">
          {{message}}
          </div>
        </div> -->
        <ion-refresher pulling-text="Aggiorna" on-refresh="doRefresh()">
            </ion-refresher>
      <div class="list card" ng-repeat="Post in Posts">
        <div class="item item-divider">
           <h2>{{Post.name}}</h2p>
         </div>

         <div class="item item-body">

         <p>
         {{Post.text}}
         </p>

         </div>

         <div class="item item-divider">
           <h5>{{Post.date}}</h5>
         </div>
      </div>


    </ion-content>
</ion-view>
