<ion-view view-title="Avvisi" ng-init="doRefresh()">
    <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">

        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list card" ng-repeat="Post in Posts" style="margin:0%">
            <br>
            <div class="item item-energized item-divider">
                <div class="row">
                    <p>{{Post.name}}</p>
                    <div class="col" style="text-align:right">
                        <h5>{{Post.date}}</h5>
                    </div>
                </div>
            </div>

            <div class="item item-body">

                <h3>
                    {{Post.text}}
                </h3>

                <h4>
                    <a href="#" class="subdued">Piace a 5 persone</a>
                </h4>
            </div>




            <div class="item tabs tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown"></i>
                </a>
            </div>

        </div>



    </ion-content>
</ion-view>