<ion-view view-title="Avvisi" ng-init="doRefresh()">
    <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">

        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>

        <br>
        <div class="list card" ng-repeat="Post in Posts">

            <div class="item item-divider">
                <div class="row">
                    <p>{{Post.name}}</p>
                    <div class="col" style="text-align:right">
                        <h5>{{Post.date}}</h5>
                    </div>
                </div>
            </div>

            <div class="item item-body">
                <h3>{{Post.text}}</h3>
            </div>

            <div class="item item-divider">
                <h4> <a ng-click="Post.link()" class="subdued">Leggi i commenti</a></h4>
            </div>
        </div>

    </ion-content>
</ion-view>