#addTutorSection {

  padding: 3%;

  .item-input {
    input, textarea {
      padding-left: 2%;
    }
  }

}

.sendButton {
  position: absolute;
  right: 33%;
  width: 33%;
  color: white !important;
}