#addTutorSection {

  padding: 3%;

  #checkBoxList {
    display: none;
    * {
      font-size: 13px;
    }
  }

  .item-input {
    input, textarea {
      padding-left: 2%;
    }
  }

}

.sendButton {
  position: absolute;
  right: 33%;
  width: 33%;
  color: white !important;
}