<ion-view>
    <action-bar title="'Aggiorna Credenziali'"></action-bar>
    <ion-content class="padding has-header updateCred">

        <img ng-src={{logoImg}} class="responsive"></img>

        <label class="item item-input">
            <input type="email" ng-model="mail" placeholder="Email">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="userName" placeholder="Username" readonly>
        </label>
        <label class="item item-input">
            <input type="password" ng-model="password" placeholder="Password">
        </label>
        <label class="item item-input">
            <input type="password" ng-model="repeatPassword" placeholder="Ripeti Password">
        </label>

        <button ng-click="UpdateCred(userName,password,repeatPassword)" class="button button-positive">Aggiorna</button>

    </ion-content>
</ion-view>