@import "../Tabs/tabs";

.loginSection {
  text-align: center;
  background-color: $mainColor;
  color: white;

  h1 {
    font-family: serif;
    font-size: 33px;
    margin: 5%;
    color: white;
  }

  .responsive {
    width: 35%;
    height: auto;
  }

  #inputRow {
    padding: 5% 5% 2% 5%;
  }

  button {
    width: 90%;
    border-radius: 0;
    background-color: #30AD29 !important;
  }

  @mixin checkSize($size) {
    -ms-transform: scale($size); /* IE */
    -moz-transform: scale($size); /* FF */
    -webkit-transform: scale($size); /* Safari and Chrome */
    -o-transform: scale($size); /* Opera */
  }

  .checkRow {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 15px;
    background-color: $mainColor;
    color: white;
    text-align: left;

    input {
      @include checkSize(1.2);
    }

  }

}

