@import "../Tabs/tabs";

.loginSection {
  text-align: center;
  background-color: $mainColor;
  color: white;

  h1 {
    font-size: 35px;
    margin: 5%;
    color: white;
  }

  .responsive {
    width: 40%;
    height: auto;
  }

  #inputRow {
    padding: 5% 5% 2% 5%;
  }

  button {
    width: 90%;
    background-color: #4cd964 !important;
  }

  .checkRow {
    margin-top: 2%;
    margin-left: 5%;
    text-align: left;
  }

}

