<ion-view view-title="Login">
    <ion-content class="loginSection" id="loginPage">

        <h1>Ariosto Spallanzani</h1>

        <img ng-src={{logoImg}} class="responsive"></img>

        <section ng-init="setFormScope(this)">
            <div id="inputRow">
                <label class="item item-input">
                    <input type="email" ng-model="mail" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="{{inputType}}" id="passtxt" ng-model="password" placeholder="Password">
                </label>
            </div>

            <button ng-click="UserLogin(mail,password,RememberMe)" class="button button-balanced">Login</button>

            <div class="checkRow">
                <input type="checkbox" ng-model="ShowPass" ng-click="hideShowPassword()"> Mostra password</input>
            </div>

            <div class="checkRow">
                <input type="checkbox" ng-model="RememberMe"> Mantieni L'accesso</input>
            </div>
        </section>


    </ion-content>
</ion-view>


