<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

        <ion-nav-bar class="bar bar-header bar-positive" id="tabBar">
            <ion-nav-buttons side="left">
                <button class="button" ng-click="openDrawer()">
                    <p class="ion-navicon-round"></p>
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button backBtn">
                    <p></p>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view class="nav-view" id="MainView1" name="tab-admin"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView2" name="tab-giornalino"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView3" name="tab-orientamento"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView4" name="tab-biblioteca"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView5" name="tab-forum"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView6" name="tab-libera"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView7" name="tab-convenzioni"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView8" name="tab-link"></ion-nav-view>
        <ion-nav-view class="nav-view" id="MainView9" name="tab-settings"></ion-nav-view>

    </ion-side-menu-content>


    <drawer side="left" id="drawer">
        <ion-header-bar class="bar">
            <h1 class="title">{{User}}</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list class="navList">
                <ion-item menu-close ui-sref="tab.admin" ng-click="navigate('admin',1)" id="adminPanel">
                    <span class="icon ion-locked"> Admin</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.giornalino" ng-click="navigate('giornalino',2)">
                    <span class="icon ion-ios-paper"> Giornalino</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.orientamento" ng-click="navigate('orientamento',3)">
                    <span class="icon ion-ios-navigate"> Orientamento</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.biblioteca" ng-click="navigate('biblioteca',4)">
                    <span class="icon ion-ios-bookmarks"> Biblioteca</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.forum" ng-click="navigate('forum',5)">
                    <span class="ion-clipboard"> Circolari e Avvisi</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.libera" ng-click="navigate('libera',6)">
                    <span class="icon ion-android-chat"> Area Libera</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.convenzioni" ng-click="navigate('convenzioni',7)">
                    <span class="icon ion-android-restaurant"> Convenzioni</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.link" ng-click="navigate('link',8)">
                    <span class="icon ion-link"> Link Utili</span>
                </ion-item>
                <ion-item menu-close ui-sref="tab.settings" ng-click="navigate('settings',9)">
                    <span class="icon ion-ios-gear"> Impostazioni</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </drawer>
</ion-side-menus>


