.spinner {
  position: absolute;
  margin-top: 60%;
  right: 50%;
}

.author {
  color: blue !important;
}

.date {
  text-align: right;
}

.fileList {
  margin-bottom: 3%;
  margin-left: 3%;
  li span {
    font-size:20px;
    display: inline;
  }

  li p {
    font-size: 13px;
    color: #387EF5;
    display: inline;
  }
}

.dataTag {
  font-size: 13px;
}

.actionIcon {
  margin: 0.5%;
  text-align: center;
  font-size: 15px;
  color: darkslategrey;
}

