<ion-view view-title="Avvisi">
    <ion-content >

        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>

        <ion-spinner class="spinner"></ion-spinner>
        <br>
        <div class="list card" ng-repeat="Post in Posts">

            <div class="item">
                <div class="row">
                    <div class="col">
                        <a class="subdued" style="color:blue">{{Post.name}}</a>
                    </div>
                    <div class="col" style="text-align:right">
                        <a class="subdued">{{Post.date}}</a>
                    </div>
                </div>
            </div>

            <div class="item item-body">
                <p>
                    {{Post.text}}
                    <p ng-click="Post.link()">
                        <a href="#" class="subdued">Commenta</a>
                    </p>
                </p>
            </div>

        </div>

    </ion-content>
</ion-view>
