$dark: #24292F;
$lightDark: #24292F;
$background: #E9EBEE;
$mainColor: #164A80;

.bar-positive .button {
  border-color: transparent;
}

.bar-positive {
  background-color: $mainColor !important;
  .title {
    text-align: center !important;
  }
}

.button {
  background-color: $mainColor !important;
}

.sideMenu {
  background-color: $mainColor;
  color: white;
}

.navList {
  a.item-content {
    @extend .sideMenu;
    font-size: 18px;
  }
}

#drawer, .bar {
  @extend .sideMenu;
}

#drawer {
  width: 80%;
}

.bar h1 {
  color: white !important;
}

#sideMenuHeader {
  background-color: $mainColor;
  * {
    color: white !important;
  }
}

#adminPanel {
  display: none;
}

#linkList {
  padding-left: 10%;
  display: none;

  li {
    margin-top: 2%;
  }
}

.iconBar {
  font-size: 16px;
}

#addIcon {
  display: none;
}

#showLinks {
  float: right;
}

#linkItem {
  background-color: $mainColor;
  color: white;
}

.linkItem {
  width: 100%;
}

.item-avatar {
  img {
    border-radius: 0px !important;
  }
}