.profileBg {
  background-color: #4286f4;
  margin-top: 43px;
  padding: 3%;
  text-align: center;

  img {
    border: 5px solid white;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
  }

  h2, h4 {
    color: white;
  }
}

.dataRow {
  padding: 0;

  h4 {
    color: white;
  }

  .first {
    background-color: #4271f4;
  }

  .second {
    background-color: #0c60ee;
  }
}

.infoList {
  padding: 0 3%;

  input[readonly], textarea[readonly] {
    background-color: white;
  }

}
