<ion-view>
    <action-bar title="'Crea Avviso'"></action-bar>
    <ion-content class="padding has-header">
        <label class="item item-input">
            <textarea ng-init="setNewsScope(this)" placeholder="Manda un avviso agli studenti"
                      ng-model="news"></textarea>
        </label>

        <div id="upload-pdf">
            <button>
                <span class="icon ion-paperclip"></span>
                <a href="javascript: void(0)">Allega PDF</a>
            </button>
            <input type="file" id="upload_input" name="upload" multiple
                   onchange="angular.element(this).scope().loadFile(this)">/>
        </div>

        <ul class="addonsList">
            <li ng-repeat="file in fileList">
                <span>{{file}}</span>
                <span class="icon ion-android-cancel" ng-click="removeFile(file)"></span>
            </li>
        </ul>

        <button ng-click="openLinkModal()">
            <span class="icon ion-link"></span>
            <a>Allega Link</a>
        </button>

        <ul class="addonsList">
            <li ng-repeat="link in linkList track by $index">
                <span>{{link.title}}</span>
                <span ng-click="removeLink($index)" class="icon ion-android-cancel"></span>
            </li>
        </ul>

        <br>
        <button id="sendbtn" class="button sendButton" ng-click="sendNews(news)">Invia</button>

    </ion-content>
</ion-view>
