.fileName {
  margin-left: 5%;
  font-size: 14px;
}

#cameraBtn {
  background-color: transparent !important;
}

#img_1 {
  margin-left: 20%;
  max-width: 60%;
  height: auto;
}

#img-preview {
  display: none;
}

