<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="http://code.ionicframework.com/1.0.0-rc.5/css/ionic.css" rel="stylesheet">

  <link href="css/login.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src='ionic.bundle.min.js'></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <script src="cordova.js"></script>
  <script src="parse-1.6.5.min.js"></script>
  <script src="js/login-app.js"></script>
  <script src="js/signup.js"></script>

</head>

<body ng-app="login" ng-controller="loginCtrl" ng-init="CheckRememberMe()">

  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Login</h1>
  </ion-header-bar>

  <img src="img/logo.jpg" class="responsive"></img>

  <div class="row" id="inputrow">
    <div class="col-50 col-offset-25">

      <label class="item item-input">
        <input type="text" ng-model="username" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" id="passtxt" ng-model="password" placeholder="Password">
      </label>

    </div>
  </div>

  <div class="row" id="checkboxrow">
    <div class="col-50 col-offset-25">
      <input type="checkbox" ng-model="ShowPass" ng-checked="changePassView()"> Mostra password</input>
    </div>
  </div>

  <div class="row" id="checkboxrow">
    <div class="col-50 col-offset-25">
      <input type="checkbox" ng-model="RememberMe"> Remember me</input>
    </div>
  </div>

  <div class="row" id="btnrow">
    <div class="col">
      <button ng-click="UserLogin()" class="button button-energized">Login</button>
    </div>
  </div>

  <a href="signup.html">Crea Account</a>



</body>

</html>